@charset "utf-8";
/* CSS Document */

body {
}
#contenedor {
	width: 100%;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;

	display: flex;	
	Flex-direction: column;
	
}
nav {
	background: #FC6;
	float: left;
	width: auto;
	padding: 10px;

}
ul {
	list-style-type:none;

	display: flex;	
	Flex-direction: column;
	Justify-content: space-around;
}
a {
	color:black;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	width: auto;
	margin:  0;
	padding: 10px;
}
aside {
	background: #CCC59E;
	width: auto;
	padding: 10px;
}
