/* CSS Document */
#contenedor {
	width: 100%;
	display: flex;	
	Flex-direction: column;
}
nav {
	background: #FC6;
	float: left;
	width: auto;
	border-bottom: solid 1px;
}
li {
	padding: 6px;
}
a {
	color:black;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	width: auto;
	margin:  0;
	padding: 10px;
	border-bottom: solid 1px;
}
aside {
	background: #CCC59E;
	width: auto;
	padding: 10px;
}
